/* FalakSans Webfont Family */

@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FalakSans';
    src: url('https://falakme.github.io/BrandAssets/fonts/Falak Sans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
